/* HEADER
------------------------- */
.link0{
  display: inline-block;
  text-decoration: none; 
  color:white;
}
.navbar-brand img { max-width: 100px; }

.bg-dark { background-color: #333a40 !important; }

.navbar-dark .navbar-nav .btn-compra-tickets { color: #25a342 !important; }
.btn-compra-tickets{
  color: #25a342 !important;
}
@media (min-width: 992px) {
  .btn-compra-tickets {
    border: 1px solid transparent;
    border-radius: .8rem;
  }
  .btn-compra-tickets:hover,
  .navbar-dark .navbar-nav .btn-compra-tickets.active {
    background: #25a342 !important;
    color:white !important;
  }
}

.pt-section { padding-top: 7rem; }

/* ESTILOS TITULOS
-------------------------------------------------- */

.titulo-gral {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}
.titulo-gral span {
  display: block;
  font-weight: 700;
  font-size: 2.2rem;
} 

/* CAROUSEL
-------------------------------------------------- */

.bg-carousel-ba1 { background-image: url(../img/ba1-min.jpg); }
.bg-carousel-ba2 { background-image: url(../img/ba2-min.jpg); }
.bg-carousel-ba3 { background-image: url(../img/ba3-min.jpg); }

.carousel-item {
  background-size: cover;
  background-position: center center;
}
.carousel-item svg { opacity: .5; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 37rem;
  min-height: 95vh;
}

.link1{
  display: inline-block; /* Para que el enlace se comporte como un bloque */
  padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
  /*background-color: transparent; /* Color de fondo */
  border: 1px solid white; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  text-decoration: none; /* Quita el subrayado del enlace */
  color:white; /* Color del texto */
 /* font-size: 16px; /* Tamaño del texto 
  font-weight: bold; /* Grosor del texto */
}
.link2{
  display: inline-block; /* Para que el enlace se comporte como un bloque */
  padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
  background-color: #25a342; /* Color de fondo */
  border: 1px; /* Sin borde */
  border-color: red;
  border-radius: 10px; /* Bordes redondeados */
  text-decoration: none; /* Quita el subrayado del enlace */
  color: #fff; /* Color del texto */
  /*font-size: 16px; /* Tamaño del texto 
  font-weight: bold; /* Grosor del texto */
}

/* SECCION MITAD IMG, MITAD TEXTO
-------------------------------------------------- */

.bg-aside1 {
  background: #333a40;
  padding: 2rem;
}

/* FORMULARIO CONVIERTETE EN ORADOR
-------------------------------------------------- */

.btn-form {
  background: #96c93e!important;
  color: #fff !important;
}
.btn-form:hover { background: #74aa17 !important; }

/* FORM COMPRAR TICKETS
-------------------------------------------------- */

#totalPago {
  font-size: 1.4rem;
  font-weight: 700;
}

/* FOOTER
-------------------------------------------------- */

.gradiente{
  background: linear-gradient(to right,#1d3c4e 16%, #3286b7);
}
#main-footer {
  background: #1d3c4e ;
  color: #fff;
  padding: 1.5rem;
}

#main-footer .nav-link {
  color: #fff;
  text-align: center;
}
#main-footer .nav-link:hover { opacity: .7; }

@media (min-width: 992px) {
  #main-footer .nav-link span { display: block; }
}





